<div class="social">
    <img src="../../../assets/images/profile-profile.jpg" alt="Profile Picture">
    <div>
        <a href="mailto:ahmetustunt+veriga@gmail.com" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-mail-bulk"></i>
        </a>
        <a href="https://www.linkedin.com/in/ahmet-ustun/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/ahmet-ustun" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github-square"></i>
        </a>
    </div>
</div>
<div class="about">
    <p>
        Hello there <span>👋</span>
    </p>
    <br>
    <br>
    <p>
        I am Ahmet and you are in one of my personal projects. I would describe myself as a web
        development enthusiast who wants to learn and code different things even though it is an endless
        journey.
    </p>
    <br>
    <br>
    <p>
        "veriga" is a project which aims to show us that money travels long distances, meets new people and becomes a part of their stories.
    </p>
    <br>
    <br>
    <p>
        I created this project to finish my Angular course with SoftUni.
    </p>
</div>