<div class="flag"></div>
<div class="menu">
    <a routerLink="/home" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span class="menu-label">
            Home
        </span>
    </a>
    <a routerLink="/wiki" routerLinkActive="active">
        <i class="fas fa-book"></i>
        <span class="menu-label">
            Wiki
        </span>
    </a>
    <a routerLink="/about" routerLinkActive="active">
        <i class="fas fa-info-circle"></i>
        <span class="menu-label">
            About
        </span>
    </a>
</div>
<div class="user" *ngIf="auth.user | async as user; else showLogin">
    <a routerLink="/user" routerLinkActive="active">
        <i class="fas fa-user"></i>
        <span class="menu-label">
            Profile
        </span>
    </a>
    <a role="button" style="cursor: pointer;" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        <span class="menu-label">
            Logout
        </span>
    </a>
</div>
<ng-template #showLogin>
    <div class="user">
        <a role="button" style="cursor: pointer;" (click)="login()">
            <i class="fas fa-sign-in-alt"></i>
            <span class="menu-label">
                Login
            </span>
        </a>
    </div>
</ng-template>