<div class="flag"></div>
<div class="menu">
    <a href="">
        <i class="fas fa-home"></i>
        <span class="menu-label">
            Home
        </span>
    </a>
    <a href="">
        <i class="fas fa-book"></i>
        <span class="menu-label">
            Wiki
        </span>
    </a>
    <a href="">
        <i class="fas fa-info-circle"></i>
        <span class="menu-label">
            About
        </span>
    </a>
</div>
<div class="user">
    <a href="">
        <i class="fas fa-user"></i>
        <span class="menu-label">
            Profile
        </span>
    </a>
    <a href="">
        <i class="fas fa-sign-out-alt"></i>
        <span class="menu-label">
            Logout
        </span>
    </a>
    <a href="">
        <i class="fas fa-sign-in-alt"></i>
        <span class="menu-label">
            Login
        </span>
    </a>
</div>