:host,
div.menu,
div.user {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

div.logo img,
span.menu-label {
    border-radius: 6px;
}

:host {
    background     : var(--primary-color);
    justify-content: space-between;
}

i {
    color: #F5F5F5;
}

i:hover {
    color: #454545;
}

a {
    position  : relative;
    width     : 100%;
    text-align: center;
}

div.logo img {
    padding   : 1vh;
    background: whitesmoke;
    width     : 2.2vw;
}

div.logo:hover img {
    animation-name    : halfSpin;
    animation-duration: 800ms;
    animation-delay   : 400ms;
}

div.menu,
div.user {
    gap: 24px;
}

span.menu-label {
    display   : none;
    position  : absolute;
    top       : 50%;
    left      : 38px;
    transform : translateY(-50%);
    background: var(--anti-secondary);
    color     : var(--secondary-color);
    padding   : 6px 8px;
}

a:hover span.menu-label {
    display: unset;
}