p,
hr,
form {
    margin: 12px;
}

p {
    line-height: 1.2em;
    text-align : justify;
}

hr {
    background: var(--primary-color);
    height    : 4px;
    border    : none;
    box-sizing: border-box;
}

form {
    display       : flex;
    flex-direction: column;
    gap           : 12px;
}

fieldset {
    border-radius: 6px;
    border-width : 4px;
}

fieldset:first-of-type select {
    height      : 22px;
    margin-right: 4px;
}

fieldset:first-of-type input {
    width : 76px;
    height: 20px;
}

fieldset:last-of-type {
    height: 138px;
}

fieldset:last-of-type textarea {
    width : 98%;
    height: 116px;
    resize: none;
}

input[type="submit"] {
    font-family  : 'Space Mono', monospace;
    font-size    : 1em;
    background   : var(--primary-color);
    color        : #F5F5F5;
    align-self   : center;
    padding      : 4px 12px;
    border       : none;
    border-radius: 8px;
    position     : relative;
    cursor       : pointer;
}

input[type="submit"]:hover {
    bottom: 2px;
}

select,
input,
textarea {
    border    : none;
    border-radius: 2px;
    background: var(--anti-secondary);
    color     : var(--secondary-color);
}

::placeholder {
    color     : var(--secondary-color);
}

select.ng-dirty.ng-valid,
input.ng-dirty.ng-valid,
textarea.ng-dirty.ng-valid {
    border-left: 4px solid green;
}

select.ng-dirty.ng-invalid,
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
    border-left: 4px solid red;
}