<p>
    If you have found a stamped bill, you are in the correct place. All you have to do is enter the serial number on the bill and tell where and how you have found it. 
</p>
<hr>
<form [formGroup]="billForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>
            Serial No:
        </legend>
        <select formControlName="ltr1">
            <option *ngFor="let letter of collection" [ngValue]="letter">{{letter}}</option>
        </select>
        <select formControlName="ltr2">
            <option *ngFor="let letter of collection" [ngValue]="letter">{{letter}}</option>
        </select>
        <input type="number" formControlName="srl" placeholder="1234567">
    </fieldset>
    <fieldset>
        <legend>
            Bill Story:
        </legend>
        <textarea formControlName="msg" placeholder="Tell us more..."></textarea>
    </fieldset>
    <input *ngIf="billForm.valid" type="submit" value="✔️ Submit">
</form>