:host {
    min-width            : 1280px;
    min-height           : 720px;
    width                : 100vw;
    height               : 100vh;
    display              : grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows   : repeat(24, 1fr);
}

:host app-logo {
    grid-column: 1/2;
    grid-row: 1/3;
}

:host app-navbar {
    padding    : 1.2vh 0px;
    grid-column: 1/2;
    grid-row   : 3/25;
}

:host app-aside {
    padding    : 0px 1.2vh;
    grid-column: 2/25;
    grid-row   : 1/3;
}

:host app-home {
    padding        : var(--main-padding);
    grid-column    : 2/25;
    grid-row       : 3/25;
}