:host {
    margin         : calc(var(--main-margin)/2);
    width          : 100%;
    display        : flex;
    justify-content: center;
}

section {
    text-align: center;
}

div.header h1 {
    font-size  : 1.2em;
    font-weight: 500;
}

div.wallet {
    display              : grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows   : repeat(3, 165px);
    justify-content      : center;
    align-items          : center;
}

div.wallet img {
    width        : 80%;
    border-radius: 8px;
    box-shadow   : rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div.wallet img:hover,
div.wallet a.active img {
    border-width: 3px;
    border-style : solid;
    border-color: var(--primary-color);
}