<section>
    <div class="header">
        <h1>
            Bulgarian Lev (1999 Collection)
        </h1>
        <br>
        <p>
            In order to get more information, click on a particular bill.
        </p>
    </div>
    <br>
    <div class="wallet">
        <article *ngFor="let bill of collection">
            <a routerLink="{{bill.code + '-' + bill.amount}}" routerLinkActive="active">
                <img [src]="bill.imageA" [alt]="bill.code + '-' + bill.amount">
            </a>
        </article>
    </div>
</section>

<router-outlet></router-outlet>