/* You can add global styles to this file, and also import other style files */

@import url(assets/styles/reset.css);
@import url(assets/styles/animations.css);

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    min-width: 1280px;
    min-height: 720px;
    --primary-color: #007BFF;
}

html[data-theme="light"] {
    --secondary-color: #F5F5F5;
    --anti-primary: #F5F5F5;
    --anti-secondary: #454545;
}

html[data-theme="dark"] {
    --secondary-color: #454545;
    --anti-primary: #454545;
    --anti-secondary: #F5F5F5;
}

i {
    font-size: 1.4em;
}

a {
    text-decoration: none;
}