<div class="no-result" *ngIf="!isFound">
    <img src="../../../../assets/images/void-no-result.svg" alt="No Result">
    <p>No Result</p>
</div>

<div class="bill-card" *ngIf="isFound">
    <div class="flip">
        <div class="inner">
            <img [src]="billObj.imageA" [alt]="billObj.code + '-' + billObj.amount + ' Front'">
            <img [src]="billObj.imageB" [alt]="billObj.code + '-' + billObj.amount + ' Back'">
        </div>
    </div>
    <div class="info">
        <br>
        <p>
            <span>Obverse:</span> {{billObj.descrA}}
        </p>
        <br>
        <p>
            <span>Reverse:</span> {{billObj.descrB}}
        </p>
    </div>
</div>