:host {
    flex-grow      : 1;
    border-left    : 4px solid var(--primary-color);
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

div.no-result {
    display       : flex;
    flex-direction: column;
    gap           : 36px;
    align-items   : center;
}

div.no-result img {
    width: 70%;
}

div.no-result p {
    font-size  : 1.4em;
    font-weight: 500;
}

div.bill-card {
    margin    : auto 12px;
    height    : 100%;
    box-sizing: border-box;
    display   : grid;
    grid-template-rows: 40% 60%;
    gap       : 12px;
}

div.flip,
div.inner,
div.inner img {
    width      : 100%;
    height     : 100%;
}

div.flip {
    perspective: 6000px;
}

div.inner {
    position       : relative;
    transition     : transform 0.8s;
    transform-style: preserve-3d;
}

div.flip:hover div.inner {
    transform: rotateY(180deg);
}

div.inner img:first-child,
div.inner img:last-child {
    position           : absolute;
    backface-visibility: hidden;
    border-radius      : 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div.inner img:last-child {
    transform: rotateY(180deg);
}

div.info {
    overflow-x: auto;
}

div.info p {
    text-align: justify;
    text-indent: 12px;
    line-height: 1.2em;
}

div.info span {
    font-weight: 500;
}